body {
    Background: 	#F5FFFF; /* Light cyan */
}
h2 {
    Background: 	#BDEDFF;    /* Light blue */
	Background: 		#B8E6E6;
    color: Red;
	margin: 0px;
}
h3 {
    Background: 	#BDEDFF;    /* Light blue */
	Background: 	#CCFFFF;
    color: Blue;
    margin: 5px;
}
h4 {
    Background: 	#BDEDFF;    /* Light blue */
	Background: 	#CCFFFF;
    color: Green;
}
tt {
   color: purple;
   color:	#001A4C;
}
hr {
    width: 10%
}
